{% extends "lutnia_app/base.html" %}
{% block content %}
<div class="container">
        <div class="card">
            <div class="card-body">
            <p class="card-title">Zawodnik</p>
            <hr>
            <h3 class="card-text">{{ user.last_name }} {{ user.first_name }}</h3>
            </div>
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <div class="card-body"><h5 class="card-title">1</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td style="color:red;">O</td><td>O</td><td style="color:red;">O</td></tr> 
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr><td></td><td style="color:blue;">O</td><td></td></tr>
                    <tr><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td></tr>
                </tbody> </table></p></div>
            </div>
            <div class="card">
                <div class="card-body"><h5 class="card-title">2</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td></td><td>O</td><td></td></tr> 
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr><td></td><td style="color:pink;">O</td><td></td></tr>
                    <tr><td></td><td style="color:blue;">O</td><td></td></tr>
                    <tr><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td></tr>
                </tbody> </table></p></div>
            </div>
            <div class="card">
                <div class="card-body"><h5 class="card-title">3</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td></td><td>O</td><td></td></tr> 
                    <tr><td style="color:red;">O</td><td></td><td style="color:red;">O</td></tr>
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr><td></td><td style="color:pink;">O</td><td></td></tr>
                    <tr><td></td><td style="color:blue;">O</td><td></td></tr>
                    <tr><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td></tr>
                </tbody> </table></p></div>
            </div>
             <div class="card">
                <div class="card-body"><h5 class="card-title">4</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td style="color:red;">O</td><td></td><td>O</td><td style="color:red;">O</td><td style="color:red;">O</td></tr> 
                    <tr><td></td><td></td><td style="color:red;">O</td><td></td><td></td><td>
                    <tr><td></td><td></td><td style="color:blue;">O</td><td></td><td></td><td>
                    <tr><td></td><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td><td></td></tr>
                </tbody> </table></p></div>
            </div>
            <div class="card">
                <div class="card-body"><h5 class="card-title">5</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td></td><td>O</td><td></td></tr> 
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr><td></td><td style="color:red;">O</td><td></td></tr>
                    <tr></tr>
                    <tr><td></td><td style="color:pink;">O</td><td></td></tr>
                    <tr><td></td><td style="color:blue;">O</td><td></td></tr>
                    <tr><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td></tr>
                </tbody> </table></p></div>
            </div>
             <div class="card">
                <div class="card-body"><h5 class="card-title">6</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td></td><td>O</td><td></td></tr> 
                    <tr><td style="color:red;">O</td><td style="color:red;">O</td><td style="color:red;">O</td></tr>
                    <tr><td></td><td style="color:pink;">O</td><td></td></tr>
                    <tr><td></td><td style="color:blue;">O</td><td></td></tr>
                    <tr><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td></tr>
                </tbody> </table></p></div>
            </div>
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <div class="card-body"><h5 class="card-title">7</h5><p class="card-text">
                <table><tbody style="background:rgb(0, 193, 0);">
                    <tr><td style="color:red;">O</td><td style="color:red;">O</td><td>O</td><td style="color:red;">O</td><td style="color:red;">O</td></tr> 
                    <tr><td></td><td></td><td style="color:red;">O</td><td></td><td></td></tr>
                    <tr><td></td><td></td><td style="color:blue;">O</td><td></td><td></td></tr>
                    <tr><td></td><td style="color:green;">O</td><td style="color:brown;">O</td><td style="color:yellow;">O</td><td></td></tr>
                </tbody> </table></p></div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">8</h5>
                <p class="card-text"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">9</h5>
                <p class="card-text"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">10</h5>
                <p class="card-text"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">11</h5>
                <p class="card-text"></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">12</h5>
                <p class="card-text"></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h5 class="card-title">Dzien 1</h5>
                        <p class="card-text">Data: </p>
                        <p class="card-text">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Uklad</th>
                                        <th scope="col">Liczba podejść</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><th scope="row">1</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">2</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">3</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">4</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">5</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">6</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">7</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">8</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">9</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">10</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">11</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                    <tr><th scope="row">12</th><td><input type="number" class="form-control" placeholder="Liczba podejść"></td></tr>
                                </tbody>
                            </table>
                            <button class="btn btn-success">Zapisz</button>
                        </p>
                    </form>
                </div>
            </div>

            <div class="card"><div class="card-body"><h5 class="card-title">Dzien 2</h5><p class="card-text">Data: </p>
            <p class="card-text"><table class="table"><thead><tr><th scope="col">Uklad</th><th scope="col">Liczba podejść</th></tr></thead>
            <tbody><tr><th scope="row">1</th><td></td></tr><tr><th scope="row">2</th><td></td></tr><tr><th scope="row">3</th><td></td></tr><tr><th scope="row">4</th><td></td></tr>
            <tr><th scope="row">5</th><td></td></tr><tr><th scope="row">6</th><td></td></tr><tr><th scope="row">7</th><td></td></tr><tr><th scope="row">8</th><td></td></tr>
            <tr><th scope="row">9</th><td></td></tr><tr><th scope="row">10</th><td></td></tr><tr><th scope="row">11</th><td></td></tr><tr><th scope="row">12</th><td></td></tr>
            </tbody></table></p></div></div>

            <div class="card"><div class="card-body"><h5 class="card-title">Dzien 3</h5><p class="card-text">Data: </p>
            <p class="card-text"><table class="table"><thead><tr><th scope="col">Uklad</th><th scope="col">Liczba podejść</th></tr></thead>
            <tbody><tr><th scope="row">1</th><td></td></tr><tr><th scope="row">2</th><td></td></tr><tr><th scope="row">3</th><td></td></tr><tr><th scope="row">4</th><td></td></tr>
            <tr><th scope="row">5</th><td></td></tr><tr><th scope="row">6</th><td></td></tr><tr><th scope="row">7</th><td></td></tr><tr><th scope="row">8</th><td></td></tr>
            <tr><th scope="row">9</th><td></td></tr><tr><th scope="row">10</th><td></td></tr><tr><th scope="row">11</th><td></td></tr><tr><th scope="row">12</th><td></td></tr>
            </tbody></table></p></div></div>

            <div class="card"><div class="card-body"><h5 class="card-title">Dzien 4</h5><p class="card-text">Data: </p>
            <p class="card-text"><table class="table"><thead><tr><th scope="col">Uklad</th><th scope="col">Liczba podejść</th></tr></thead>
            <tbody><tr><th scope="row">1</th><td></td></tr><tr><th scope="row">2</th><td></td></tr><tr><th scope="row">3</th><td></td></tr><tr><th scope="row">4</th><td></td></tr>
            <tr><th scope="row">5</th><td></td></tr><tr><th scope="row">6</th><td></td></tr><tr><th scope="row">7</th><td></td></tr><tr><th scope="row">8</th><td></td></tr>
            <tr><th scope="row">9</th><td></td></tr><tr><th scope="row">10</th><td></td></tr><tr><th scope="row">11</th><td></td></tr><tr><th scope="row">12</th><td></td></tr>
            </tbody></table></p></div></div>
        </div>

        <hr>

        <div class="card-group">
            <div class="card"><div class="card-body"><h5 class="card-title">Dzien 5</h5><p class="card-text">Data: </p>
                <p class="card-text"><table class="table"><thead><tr><th scope="col">Uklad</th><th scope="col">Liczba podejść</th></tr></thead>
                <tbody><tr><th scope="row">1</th><td></td></tr><tr><th scope="row">2</th><td></td></tr><tr><th scope="row">3</th><td></td></tr><tr><th scope="row">4</th><td></td></tr>
                <tr><th scope="row">5</th><td></td></tr><tr><th scope="row">6</th><td></td></tr><tr><th scope="row">7</th><td></td></tr><tr><th scope="row">8</th><td></td></tr>
                <tr><th scope="row">9</th><td></td></tr><tr><th scope="row">10</th><td></td></tr><tr><th scope="row">11</th><td></td></tr><tr><th scope="row">12</th><td></td></tr>
            </tbody></table></p></div></div>

            <div class="card"><div class="card-body"><h5 class="card-title">Dzien 6</h5><p class="card-text">Data: </p>
            <p class="card-text"><table class="table"><thead><tr><th scope="col">Uklad</th><th scope="col">Liczba podejść</th></tr></thead>
            <tbody><tr><th scope="row">1</th><td></td></tr><tr><th scope="row">2</th><td></td></tr><tr><th scope="row">3</th><td></td></tr><tr><th scope="row">4</th><td></td></tr>
            <tr><th scope="row">5</th><td></td></tr><tr><th scope="row">6</th><td></td></tr><tr><th scope="row">7</th><td></td></tr><tr><th scope="row">8</th><td></td></tr>
            <tr><th scope="row">9</th><td></td></tr><tr><th scope="row">10</th><td></td></tr><tr><th scope="row">11</th><td></td></tr><tr><th scope="row">12</th><td></td></tr>
            </tbody></table></p></div></div>

            <div class="card"><div class="card-body"><h5 class="card-title">Dzien 7</h5><p class="card-text">Data: </p>
            <p class="card-text"><table class="table"><thead><tr><th scope="col">Uklad</th><th scope="col">Liczba podejść</th></tr></thead>
            <tbody><tr><th scope="row">1</th><td></td></tr><tr><th scope="row">2</th><td></td></tr><tr><th scope="row">3</th><td></td></tr><tr><th scope="row">4</th><td></td></tr>
            <tr><th scope="row">5</th><td></td></tr><tr><th scope="row">6</th><td></td></tr><tr><th scope="row">7</th><td></td></tr><tr><th scope="row">8</th><td></td></tr>
            <tr><th scope="row">9</th><td></td></tr><tr><th scope="row">10</th><td></td></tr><tr><th scope="row">11</th><td></td></tr><tr><th scope="row">12</th><td></td></tr>
            </tbody></table></p></div></div>

            
        </div>
</div>
{% endblock content %}