{% extends "lutnia_app/base.html" %}

{% block content %}
    <div class="card mb-3">
    <img src="/media/logo/lutnia_main_image.jpg" class="card-img-top" alt="main_image">
    <div class="card-body text-center">
        <h5 class="card-title">TS Lutnia - Akademia Snookera</h5>
        <p class="card-text">Adres: Moniuszki 15, 95-050 Konstantynów Łódzki</p>
        <p class="card-text"><small class="text-body-secondary">Telefon: 609 049 257</small></p>
    </div>
    <div class="card-footer text-body-secondary text-center">
        <a href="https://www.facebook.com/tslutnia/"  target="_blank"><img src="media/logo/Facebook_Logo_Primary.png" alt="FB" style="width:4%;"></a>
        <a href="https://www.youtube.com/@akademia-snookera-kts-lutnia"  target="_blank"><img src="media/logo/yt_icon_rgb.png" alt="YT" style="width:15%; padding-right: 5%; padding-left: 5%;"></a>
        <a href="https://maps.app.goo.gl/Sv8JWUJVU1weWX1A7"  target="_blank"><img src="media/logo/maps.png" alt="Maps" style="width:3%;"></a>
    </div>
    </div>
{% endblock content %}