{% extends "lutnia_app/base.html" %}
{% load custom_filters %}
{% block content %}
<h2 class="text-center">Kalendarz - {{ year }}</h2>

<div class="card">
    <hr>
        <div class="menu btn-group btn-group" role="group" aria-label="Small button group">
            <a class="btn btn-outline-dark" href="{% url 'month_view' year=year month=selected_date.month %}">Miesiąc</a>
            <a class="btn btn-outline-dark" href="{% url 'event_new' %}">Rezerwacja</a>
            <a class="btn btn-outline-dark" href="{% url 'day_view'  year=selected_date.year month=selected_date.month day=selected_date.day %}">Dzien</a>
        </div>
    <hr>
    <div class="row">
        {% for m in months %}
            <div class="col-md-4">
                <a class="btn btn-outline-dark" href="{% url 'month_view' year=year month=m.month_number %}">{{ m.month_name }}</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Dzien</th>
                            <th>Rezerwacja</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in m.days_with_events.keys %}
                        <tr>
                            <td><strong>{{ day }}</strong></td>
                            <td>
                                <ul>
                                    {% for event in m.days_with_events|get_item:day %}
                                            <button type="button" class="btn btn-sm btn-outline-success" 
                                               data-bs-toggle="modal" data-bs-target="#eventModal" 
                                                data-event-user="{{ event.user.last_name }} {{ event.user.first_name }}"
                                                data-event-user-id="{{ event.user.id }}"
                                                data-event-place="{{ event.place }}"
                                                data-event-table="{{ event.table }}"
                                                data-event-time="{{ event.start_time }} - {{ event.end_time }}"
                                                data-event-edit-url="{{ event.edit_url }}"
                                                data-bs-toggle="tooltip"
                                                title="{{ event.user.last_name }} {{ event.user.first_name }} - {{ event.place }} - {{ event.table }} - ({{ event.start_time }} - {{ event.end_time }})"
                                                >
                                            {{ event.start_time|time:"H:i" }}
                                        </button>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2" class="text-muted">No events</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% include "lutnia_app/addons/modal.html" %}
{% endblock %}
