<!-- Event Details Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Szczegóły Rezerwacji</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Rezerwujący:</strong> <span id="modalEventUser"></span></p>
                <p><strong>Miejsce:</strong> <span id="modalEventPlace"></span></p>
                <p><strong>Stół:</strong> <span id="modalEventTable"></span></p>
                <p><strong>Godziny:</strong> <span id="modalEventTime"></span></p>
                <p><strong>Telefon:</strong> <span id="modalTel"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <a id="modalEditButton" href="#" class="btn btn-warning d-none">Edytuj</a>
            </div>
        </div>
    </div>
</div>